/*using external CSS, that is one or multiple separate CSS file(s) which is/are used/shared 
by your HTML code files based on the <link> tag . */

* {
	font-family: font-family: "Courier New", Courier, monospace;}


body {
	color: rgb(243,186,22);  /*goldenyellow RGB */
	background-color: #4f5255; /*set different background colors  for a whole page*/
	padding: 10px;
	position: relative;
	top: 100px;
	left: 10px;
	line-height: 1.4em; 
}  /*change the line spacing of a paragraph of text;*/


/*Niva_CV1.html image*/
#center{  
	width: 400px;
	height: 320px;
	display: block;
	margin-left: auto;
	 margin-right: auto;
}



	/*change the color for all the links after visited */
a:link {
	color: lightblue;
	text-decoration: none;}
a:visited {
	color: lavender;}
a:hover {
	color: blue;
	text-decoration: underline;}
a:active {
	color: orange;}


/*: hiding an element by setting its box to be “hidden” (+1).*/
.coming-soon {
	visibility: hidden;}


/* cover an example that uses a font downloaded from / directly linked to a website that provides open source fonts / its URL (i.e., if using Google’s Font website: https://fonts.google.com/)*/
@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('fonts/chunkfive.eot');
	src: url('fonts/chunkfive.eot?#iefix') format('embedded-opentype'),
				url('fonts/chunkfive.woff') format('woff'),
				url('fonts/chunkfive.ttf') format('truetype'),
				url('fonts/chunkfive.svg#ChunkFiveRegular') format('svg');}


h1{
	font-family: ChunkFiveRegular, Georgia, serif;
	color: rgb(243,186,22); /* golden yellow*/
	font-size: 300%;
	text-decoration: underline;  /*underline(+1)*/
	letter-spacing: 0.2em; /*letter-spacing of a heading (+1)*/
	text-shadow: -1px -1px black; /*add text shadow (+1);*/
	line-height: 1.6em;
	padding: 30px;
	text-align: center
}


h4{
	text-align: right; /*right alignment example for a heading or paragraph (+1);*/
}


h3 {
	font-family: ChunkFiveRegular, Georgia, serif; 
	color: rgb(243,186,22); 
	font-style: italic;  /*italic (+1)*/
}

h6 {
	text-transform: uppercase; /*uppercase (+1)*/
	word-spacing: 1em; /*word spacing of a heading (+1)*/
}

p b {
	color: blue !important;
	font-size: 1.1em;}  

b {
	color: lavender;
	font-size: 1.1em;}

p strong {
	color: yellow;
	font-size: 18px;} /*pixels */


.links {
	background-color: hsl(45, 90% , 52%); /* gold*/
	padding: inherit;
	font-size: 75%;
	color: #3f4244;
	border: 8px solid #3f4244;  /*black*/
	text-align: center;
} 

/*at the same time use z-index (+1) to handle 
overlapping elements; */
.links1 {
	background-color: hsl(45, 90% , 52%); /* gold*/
	padding: inherit;
	font-size: 75%;
	color: #3f4244;
	border: 8px solid #3f4244;  /*black*/
	text-align: right;
	position: fixed;
	top: 0px;
	right: 0px;
	margin: 20px;
	padding: 10px;
	z-index: 10;
} 


p {
	font-size: 100%;
	}


 img{
 	border: 8px solid rgb(243,186,22);
 }


 div.parts{
 	border: 0;
	background-color: gray;
	width: 300px;
	padding: 10px;
	text-transform: lowercase; /*lowercase(+1)*/
	font-style: oblique; /*oblique(+1)*/

	/*create a border for a HTML element by setting its width(+1), style (+1), and color (+1)*/
	border-width: 3px;
	border-style: dashed; 
	border-color:  rgb(243,186,22);
	/* rounded corner property (+1)*/
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	/* center the content in the box by using “auto” (+1). */
	margin: 10px auto 10px auto;
 }

/*bold(+1)*/
.dark {
	font-weight: bold;}

figcaption{
	text-transform: capitalize; /*capitalize (+1)*/
}

.iden{
 	text-indent: 20px; /*add text indentation for a paragraph/heading (+1); */
 }

p.well:first-letter {
	font-size: 150%; /*change the style (i.e., its size) for the first letter of a paragraph (+1)*/
}

/*min-width (+1), max-width (+1), min-height (+1), max-height (+1),*/
th {
	border-bottom: 1px solid #0088dd; 
	text-align: left; 
	color: black;
	font-weight: normal;}

td {
	color: black;
	min-width: 150px;
	min-height: 200px;
	vertical-align: top;
	line-height: 1.4em;}

td.description {
	color: black;
	max-width: 450px;
	max-width: 650px;
	text-align: left;
	padding: 5px;
	margin: 0px;}

	/*overflow (using ‘scroll’) (+1) in Niva_CV1.html*/
.work {
	min-height: 30px;
	max-height: 85px;
	overflow: scroll;}

ul {
  border:none;
  padding: 0;
  margin: 0;}

li {
  background-color: #ec8b68;
  color: #fff;
  border-top: 1px solid #fe9772;
  border-bottom: 1px solid #9f593f;
  font-size: 24px;
  letter-spacing: .05em;
  list-style-type: none;
  text-shadow: 2px 2px 1px #9f593f;
  text-align: left;
  height: 50px;
  padding-left: 1em;
  padding-top: 10px;}

  .hot {
  background-color: #d7666b;
  color: #fff;
  text-shadow: 2px 2px 1px #914141;
  border-top: 1px solid #e99295;
  border-bottom: 1px solid #914141;}
	

div.go {
border: 1px solid #665544;
overflow: auto;
}

/* use floats to create a multi-column layout (+3), */
.what {
width: 230px;
float: left;
margin: 5px;
padding: 5px;
}

/* specify the shape of the bullet points in an unordered or ordered list based on predefined values (i.e., “disc”, and “lower-roman”) (+2);*/
ol {
	list-style-position: outside;
	width: 500px;
list-style-type: lower-roman;}
li {
	margin: 10px;}


/*set width (+1), assign cells padding (+1), 
differentiate table headings using “text-transform” (+2), shade alternative rows using 
“background-color” (+2), highlight a table row when a user’s mouse goes over it by using 
“:hover” (+2), and collapse the default distances between cells (+1). */
table.achieve {
	width: 600px;
	border-collapse: collapse;}

th.achieve,th.mon, td.achieve, td.mon {
	padding: 7px 10px 10px 10px;}

th.achieve, th.mon {
	color: lavender;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: left;
	background-color: rgb(243,186,22);}
	
tr.even {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: left;
	background-color: #3f4244;}

tr:hover {
	background-color: lavender;}

.mon {
	text-align: right;}



fieldset {

	width: 310px;
	margin-top: 20px;
	border: 1px solid #d6d6d6;
	background-color: lavender;
	line-height: 1.6em;}

legend {
		color: black;
	font-style: italic;
	font-weight: bold;
	font-size: 125%;
	}

	/* style text inputs/areas (+2), 
	style labels (+2) on forms to algin them*/

input[type="text"], input[type="email"] {
	width: 120px;
	border: 1px solid #d6d6d6;
	padding: 2px;
	outline: none;}

input[type="text"]:focus,
input[type="text"]:hover,input[type="email"]:focus,
input[type="email"]:hover {
	background-color: #d0e2f0;
	border: 1px solid #999999;}

	/*submit buttons (+2)*/
input[type="submit"] {
	border: 1px solid #006633;
	background-color: rgb(243,186,22);;
	color: #ffffff;
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;}

input[type="submit"]:hover {
	border: 1px solid #006633;
	background-color: #00CC33;
	color: #ffffff;
	cursor: pointer;}



	/*relative positioning (+2)*/
.minor{
	position: relative;
	top: 10px;
	left: 50px;
	}

/* absolute positioning (+2)*/
h2.evolution {
	position: absolute;
	top: 200px;
	left: 500px;
	width: 250px;}

.fig{
	width: 500px;
	}

/* floats (+2),*/
.flo{
float: right;
	width: 275px;
	font-size: 130%;
	font-style: italic;
	font-family: Georgia, Times, serif;
	margin: 0px 0px 10px 10px;
	padding: 10px;
	border-top: 1px solid #665544;
	border-bottom: 1px solid #665544;
}
